
.slider img {
  width: 95%;
  margin: 0 auto;
  size: cover;
  max-height: 500px;
  display: block;
  transition: transform .5s ease;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 40px 58px -16px,
    rgba(0, 0, 0, 0.72) 0px 30px 22px -10px ;
}
.slider img:hover{
  transform: scale(1.04);
  /* border: 3px white solid; */
  box-shadow: rgba(255, 255, 255, 0.8) 0px 40px 58px -16px,
  rgba(255, 255, 255, 0.72) 0px 30px 22px -10px ;
}
.quote{
  color: white;
  text-align: center;
  font-size: clamp(1.5rem, 1rem + 3.2vw, 3rem);
    
}
